.comment-form {
	width: 100%;
}

.comment-form textarea {
	width: 95%;
	resize: none;
	margin-left: 5%;
	border-radius: 5px;
	height: 80px;
}

.comment-form button {
	position: absolute;
	bottom: 0;
}

.comment-box {
	width: 90%;
	background-color: rgba(255,255,255,0.7);
	border: solid 1px silver;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 2%;
	padding-bottom: 2%;
}
.commenterror{
	color: red;
	margin-left: 6%;
}
