body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/posts-page-background.jpg"); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

img {
	display: block;
	position: relative;
}

.title {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.Post-image {
	position: absolute;
	margin: 100px 10px 10px 10px;
	/*left: -60%;*/
	border-radius:25px;
}

#container{
    width: 1000px;
    height: 700px;
    background-color: rgba(255,255,255,0.5);
    border: solid 1px silver;
    margin-left: auto; 
    margin-right: auto;
	border-radius: 25px;
	position: relative;
}

.post-box-1 {
	width: 900px;
	height: 250px;
	background-color: rgba(255,255,255,0.7);
	border: solid 1px silver;
	border-radius: 25px;
	position: absolute;
	margin: 50px 50px 50px 50px;
}
p {
	font-size: 36;
	margin: 50px 170px 50px 230px;
}
.post-box-2 {
	width: 900px;
	height: 250px;
	background-color: rgba(255,255,255,0.7);
	border: solid 1px silver;
	border-radius: 25px;
	position: absolute;
	margin: 350px 50px 350px 50px;
}