body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/posts-page-background.jpg"); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

img {
	display: block;
	position: relative;
	right: -30%;
}
.parent {
	position: relative;
	/*right: 50%;*/
	margin-left: auto;
	margin-right: auto;
}
.box{
    width: 1000px;
    height: 500px;
    background-color: white;
    border: solid 1px silver;
    margin-left: auto; 
    margin-right: auto;

}