#container-wrapper {
	width: 90%;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255,255,255,0.3);
	border-radius: 25px;
	padding: 1%;
	text-align: center;
}

input[type="text"] {
	border-radius: 15px;
	width: 40%;
	margin-top: 3%;
	margin-bottom: 3%;
}

textarea {
	border-radius: 15px;
	width: 40%;
	height: 150px;
}
.errorpostname{
	position: fixed;
	float: right;
	margin-top: 2.37%;
	color: red;


}
.errordescription{
	position: fixed;
	float: right;
	margin-top: 4%;
	color: red;

}

#datepicker{
	float: left;
}
