<!DOCTYPE html>
<html>

	<head>
		<title>Posts</title>
		<link rel="stylesheet" type="text/css" href="../css/posts.css">
		<link rel="stylesheet" type="text/css" href="../css/navigation.css">
	</head>

	<body>
		<div id='cssmenu'>
			<ul>
			   <li class='active'><a href='#'>Home</a></li>
			   <li><a href='#'>Lost</a></li>
			   <li><a href='#'>Found</a></li>
			   <li><a href='#'>About</a></li>
			   <li><a href='#'>Contact</a></li>
			</ul>
		</div>

		<div class="title">
			<img src="../images/Black-Logo.png" >
 		</div>
 		<div id="container" class="all-boxes">
 			<div class="post-box-1">
 			</div> 
 			<div class="post-box-2">
 			</div>
 			<div class="post-box-3">
 				
 			</div>
 		</div>

 		<script src="../js/jquery-3.1.1.js"></script>
 		<script src="../js/navigation.js"></script>
 	</body>

</html>