<!DOCTYPE html>
<html>

	<head>
		<title>Post name</title>
		<link rel="stylesheet" type="text/css" href="../css/post-view.css">
		<link rel="stylesheet" type="text/css" href="../css/navigation.css">
	</head>

	<body>
		<div id='cssmenu'>
			<ul>
			   <li class='active'><a href='../index.html'>Home</a></li>
			   <li><a href='#'>Lost</a></li>
			   <li><a href='#'>Found</a></li>
			   <li><a href='#'>About</a></li>
			   <li><a href='#'>Contact</a></li>
			</ul>
		</div>

		<div class="title">
			<img src="../images/White-Logo.png" >
 		</div>

 		<div id="container" class="all-boxes">
 			<div class="post-box-1">
	 			<h1>Post title</h1>
	 			<hr>
	 			<div class="Image">
	 				<img src="../images/Post-image.jpg">
	 			</div>
	 			<hr>
	 			<div class="input-form">
	 				<form><input type="text" name="submitted" id="textbox"><br>
	 			</div>
 			</div> 
 		</div>

 		<script src="../js/jquery-3.1.1.js"></script>
 		<script src="../js/navigation.js"></script>
 	</body>

</html>